{% extends 'base.html' %}
{% load static %}
{% block title %}pongPrivGame{% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/css" href="{% static 'pongPrivGame/css/pongPrivGame.css' %}">
{% endblock %}

{% block content %}
<div class="pongPrivGame-wrapper" id="container-pong3D">
	<div class="video-background">
		<!-- <video src="{% static 'home/img/pong-video.mp4' %}" autoplay loop muted></video> -->
	</div>
	<section class="play-box" id="gameUUID" data-gameUUID="{{ gameUUID }}">
		<div class="play-box__header"> 
            <span class="title">PONG Priv Game </span>
		</div>
		<div class="play-box__content" id="box_player"></div>
        <div class="play-box__footer" id="box-btn">
            <button class="btn-custom-game" id="curstom-game"><i class="fa-solid fa-screwdriver-wrench"></i></button>
            <button class="btn-ready-game" id="btn-make-ready">Make Ready</button>
        </div>
	</section>
</div>
<script type="importmap">
	{
		"imports": {
			"three": "https://cdn.jsdelivr.net/npm/three@0.165.0/build/three.module.js",
			"renderpass": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/postprocessing/RenderPass.js",
			"effectcomposer": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/postprocessing/EffectComposer.js",
			"unrealbloompass": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/postprocessing/UnrealBloomPass.js",
			"fontloader": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/loaders/FontLoader.js",
			"linematerial": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/lines/LineMaterial.js",
			"linegeometry": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/lines/LineGeometry.js",
			"line2": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/lines/Line2.js",
			"timer": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/misc/Timer.js",
			"orbitcontrols": "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/controls/OrbitControls.js",
			"cameracontrols": "https://cdn.jsdelivr.net/npm/camera-controls@2.8.5/dist/camera-controls.module.min.js"
		}
	}
</script>
<script type="module" src="{% static 'pongPrivGame/js/pongPrivGame.js' %}"></script>
{% endblock %}


